# 📦 DATABASE CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=whois
DB_SSL_MODE=disable

# ⚙️ SERVER CONFIG
PORT=8080

# ⏱ HTTP TIMEOUT (в секундах)
HTTP_TIMEOUT=5

# 🧠 API URLS
API_AGIFY=https://api.agify.io
API_GENDERIZE=https://api.genderize.io
API_NATIONALIZE=https://api.nationalize.io

# 📋 LOGGING
LOG_LEVEL=debug
